.page_bottom {
    padding: 20px 0;
    border-top: 1px solid #000;
}
.page_bottom .pagination {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.page_bottom .pagination button {
    margin: 0 10px;
}
.page_bottom .page {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.page_bottom .limit {
    display: inline-block;
    width: 20%;
    text-align: center;
}
@media only screen and (max-width: 1145px) {
    .page_bottom .pagination button {
        margin: 0 3px;
    }
}
@media only screen and (max-width: 800px) {
    .page_bottom .pagination button {
        margin: 1px;
    }
    .page_bottom .pagination {
        width: 62%;
    }
    .page_bottom .page {
        width: 15%;
    }
    .page_bottom .limit {
        width: 20%;
    }
}